.main {
  display: grid;
  row-gap: 2rem;
  column-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  overflow-y: scroll;
  padding: 2rem;
  padding-left: 3rem;
  direction: rtl;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 4;
  height: 120px;
}

.mainLoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
