.root {
  height: 21rem;
  cursor: pointer;
  border-radius: 2rem;
  position: relative;
  padding: 0.3rem;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem black;
  background-color: rgb(66, 66, 66);
}

.main {
  border-radius: 1.7rem;
  height: 100%;
  padding: 1.5rem;
  background-color: rgb(66, 66, 66);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  position: relative;
  z-index: 1;
}

.gradient.root::after {
  border-radius: inherit;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 47%,
    rgba(0, 0, 0, 1) 47%,
    rgba(0, 0, 0, 1) 53%,
    rgba(255, 255, 255, 1) 53%,
    rgba(255, 255, 255, 1) 100%
  );
}
