.root {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 10fr;
  height: 100vh;
  padding-top: 4rem;
  row-gap: 2rem;
}

.heading {
  font-size: 3rem;
  grid-column: span 2;
  text-align: center;
}
