.flipButton {
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 0;
  background-color: rgb(143, 143, 143);
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  .name {
    font-size: 2rem;
  }

  .id {
    color: rgb(185, 185, 185);
  }
}

.imageContainer {
  position: relative;
  flex: 4;
  width: 100%;

  .image {
    object-fit: contain;
  }
}

.footer {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 2rem;
}
